/* Breakpoints */
$s-small: 340px; /*-------- Mobile devices*/
$small: 440px;
$s-medium: 570px; /*-------- Tablet devices*/
$medium: 768px;
$large: 960px;
$x-large: 1060px; /*-------- Desktop devices*/
$sxx-large: 1120px;
$xx-large: 1280px;
$xxx-large: 1440px;
$high-quality: 1700px;
