// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

@include mat.core();

$palette-primary: (
  50: #e0eaf9,
  100: #b3cbef,
  200: #80a9e5,
  300: #4d87db,
  400: #266dd3,
  500: #0053cb,
  600: #004cc6,
  700: #0042be,
  800: #0039b8,
  900: #0029ac,
  A100: #d5dcff,
  A200: #a2b2ff,
  A400: #6f87ff,
  A700: #5672ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$palette-accent: (
  50: #e4f2fe,
  100: #bce0fb,
  200: #90cbf9,
  300: #64b6f7,
  400: #42a6f5,
  500: #2196f3,
  600: #1d8ef1,
  700: #1883ef,
  800: #1479ed,
  900: #0b68ea,
  A100: #ffffff,
  A200: #e1ecff,
  A400: #aeccff,
  A700: #95bcff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$palette-warn: (
  50: #f8e5e5,
  100: #eebfbf,
  200: #e39494,
  300: #d76969,
  400: #cf4848,
  500: #c62828,
  600: #c02424,
  700: #b91e1e,
  800: #b11818,
  900: #a40f0f,
  A100: #ffd4d4,
  A200: #ffa1a1,
  A400: #ff6e6e,
  A700: #ff5454,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// pelette for the theme APAP
$translate-primary: mat.define-palette($palette-primary);
$translate-accent: mat.define-palette($palette-accent);
$translate-warn: mat.define-palette($palette-warn);

$translate-theme: mat.define-light-theme(
  (
    color: (
      primary: $translate-primary,
      accent: $translate-accent,
      warn: $translate-warn,
    ),
  )
);

@include mat.all-component-themes($translate-theme);
