@use "../colors";

mat-accordion.whitout-border {
  .mat-expansion-panel {
    box-shadow: none;
    .mat-expansion-panel-header {
      padding-left: 2px;
      padding-right: 10px;
      .mat-content .mat-expansion-panel-header-title {
        color: colors.$apap-primary;
      }
    }
    .mat-expansion-panel-content .mat-expansion-panel-body {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 0;
    }
  }
}
