@use "../colors";
/* Buttons */
.mat-button-base {
  height: 48px;
  padding: 0 16px;
  .mat-button-wrapper {
    font-size: 1rem;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 1.25px;
  }
}

.mat-stroked-button {
  border: 1px solid colors.$apap-down-medium-blue !important;

  &[color="accent"] {
    color: colors.$apap-down-medium-blue;
  }

  &:disabled {
    background: colors.$disabled-gray;
    color: colors.$black-inactive;
    border: none !important;
  }
}

.mat-flat-button {
  border: 1px solid colors.$disabled-gray !important;
}

button[color="basic"] {
  background: colors.$white;
  color: colors.$black-inactive;
}


button[color="basic-accent"] {
  background: colors.$white;
  color: colors.$apap-down-medium-blue;
}

button[color="basic-without-border"] {
  background: colors.$white;
  color: colors.$black-inactive;
  border: none !important;
}

button[color="basic-primary"] {
  background: colors.$white;
  color: colors.$primary;
}

button[color="primary"] {
  background: colors.$gradient-light-blue;
  color: colors.$white;

  &:disabled {
    background: colors.$disabled-gray !important;
    color: colors.$disabled-black !important;
  }
}

button[color="warning"] {
  background: colors.$apap-yellow;
  color: colors.$black-high-emphasis;
}

button[color="transparent"] {
  background: colors.$white;
  color: colors.$black-inactive;
}
