@use "../colors";


.mat-calendar {
  font-family: Ubuntu;

  abbr[title] {
    font-family: 'Arial';
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
  }

  .mat-button-base {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.6);
  }

  .mat-calendar-body-selected {
    background: colors.$gradient-light-blue;
  }

}


.mat-datepicker-toggle-active {
  color: colors.$apap-down-medium-blue !important;
}
