@use "../colors";

/* Inputs */

/* Desactiva control para aumentar/disminuir el valor en inputs numericos */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Input general desactivado */
.input-disabled {
  padding: 15px 0 0 15px;
  background-color: colors.$light-background;
  height: 67px;

  &.not-background {
    background-color: transparent;
    padding: 0 0 20px 0;
    height: 100%;

    & input:disabled {
      padding: 0;
    }
  }

  label {
    display: block;
    color: colors.$apap-primary;
    font-size: 0.875rem;
    font-family: "Ubuntu", Arial, sans-serif;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.1px;
    font-style: normal;
  }

  input:disabled {
    width: 100%;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: colors.$black-inactive;
    -webkit-text-fill-color: colors.$black-inactive;
    opacity: 1;
    background-color: transparent;
  }
}

/* Mat form field de material */
.mat-form-field {
  font-size: 14px;
  & .mat-icon {
    color: colors.$disabled-black;
    margin-right: 14px;
  }

  & .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-outline {
    height: 100%;
  }

  & .mat-form-field-label-wrapper {
    top: -0.91em;
  }

  & .mat-form-field-label.mat-empty {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.5px;
    color: colors.$disabled-black;
  }

  & .mat-input-element {
    color: colors.$black-high-emphasis;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }

  & .mat-form-field-label {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 0.5px;
    color: colors.$black-inactive;
    line-height: 17px !important;
    margin-top: -0.32em;
  }

  & .mat-error {
    font-family: Arial, sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.4px;
    color: colors.$dark-red;
  }

  & .mat-hint {
    font-family: Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: normal;
    line-height: 0.938em;
    letter-spacing: 0.4px;
    color: colors.$black-inactive;
  }

  .mat-input-element::placeholder {
    color: colors.$gray;
  }

  /* Select */
  .mat-form-field-wrapper
    .mat-form-field-flex
    .mat-form-field-infix
    .mat-select
    .mat-select-trigger
    .mat-select-value
    span.mat-select-placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: colors.$black-high-emphasis;
  }

  .mat-form-field-wrapper
    .mat-form-field-flex
    .mat-form-field-infix
    .mat-select
    .mat-select-trigger
    .mat-select-value {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: colors.$black-high-emphasis;
  }
}

.custom-select {
  margin-top: 35px;
  transform: translateX(-16px) !important;
  .mat-select-panel {
    min-width: calc(100% + 22px) !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    margin-left: 5px;
    .mat-option {
      height: 48px;
    }
  }
}

.mat-form-field.mat-form-field-disabled {
  .mat-input-element {
    color: colors.$black-medium;
  }

  .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-outline {
    background-color: colors.$light-gray;
  }
}

.mat-form-field.mat-form-field-should-float .mat-icon,
.mat-form-field.mat-form-field-should-float:not(.mat-focused)
  .mat-form-field.mat-form-field-should-float:not(.mat-form-field-invalid)
  .mat-form-field-label-wrapper
  .mat-form-field-label
  mat-label {
  color: colors.$black-inactive !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: colors.$disabled-black;
}

.mat-form-field.mat-focused .mat-form-field-label,
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: colors.$apap-down-medium-blue;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: colors.$dark-red;
}

.input-margin-b {
  margin-bottom: 20px;
}
