@use "../../../../assets/scss/partials/colors";
@use "../../../../assets/scss/partials/_breakpoints";

:host ::ng-deep{

  .mat-paginator {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    .mat-paginator-navigation-first,
    .mat-paginator-navigation-last {
      display: none;
    }
  }

  .mat-paginator-container {
    border-top: 1px solid colors.$apap-ultra-light-gray;
    padding: 0 16px !important;

    .mat-paginator-range-actions {
      .mat-paginator-range-label {
        margin: 0 30px 0 27px;
      }
    }

    .mat-paginator-page-size {
      margin: 0;

      .mat-form-field {
        .mat-form-field-wrapper {
          padding: 0;
          margin: 0;

          .mat-form-field-flex .mat-form-field-outline {
            height: auto;
          }

          .mat-form-field-infix {
            border: 0;
            padding: 0;
          }
        }
      }
    }


    .mat-paginator-page-size-label,
    .mat-paginator-range-label,
    .mat-select-value-text {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 21px;
      letter-spacing: 0.25px;
      color: colors.$black-medium;
    }

    .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
      transform: none;
    }
  }

  .mat-paginator-container .mat-form-field-appearance-outline .mat-form-field-outline {
    color: colors.$white;
  }


@media screen and (max-width: breakpoints.$medium) {

    .mat-paginator {
      .mat-paginator-container {
        justify-content: space-between;
        padding: 0 16px;
      }

      .mat-paginator-page-size {
        margin: 0;
      }

      .mat-paginator-range-actions {
        display: flex;
        justify-content: space-between;

        .mat-paginator-range-label {
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
        }
      }

      .mat-paginator-page-size-label {
        display: none;
      }

      .mat-paginator-range-label {
        justify-self: flex-start !important;
        margin: 0;
      }
    }

}
}

