@use "../colors";

/* Mat Slide Toggle */
.mat-slide-toggle {
  .mat-slide-toggle-bar {
    background-color: colors.$dark-gray;
  }

  .mat-slide-toggle-thumb {
    background-color: colors.$gray-divider;
  }

  .mat-slide-toggle-label {
    color: colors.$black-medium;
    gap: 16px;

    .mat-slide-toggle-bar {
      order: 2;
    }
    .mat-slide-toggle-content {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0.25px;
      color: colors.$black-medium;
      order: 1;
    }
  }
}

.mat-slide-toggle.mat-checked {
  .mat-slide-toggle-bar {
    background-color: colors.$primary100;
  }

  .mat-slide-toggle-thumb {
    background-color: colors.$apap-down-medium-blue;
  }
}

.mat-slide-toggle.mat-disabled {
  opacity: 1 !important;
  .mat-slide-toggle-bar {
    background-color: colors.$disabled-gray;
  }

  .mat-slide-toggle-thumb {
    background-color: colors.$disabled-black;
  }
}
