@use "./../colors";
/* Tabs */
.header-less-tabs > .mat-tab-header {
  display: none;
}

.mat-tab-group {
  .mat-tab-header {
    .mat-tab-label-container {
      .mat-tab-list {
        .mat-tab-labels {
          gap: 40px;
          padding: 0 40px;

          .mat-tab-label {
            font-size: 1rem;
            font-weight: 500;
            font-family: Ubuntu, Arial, sans-serif;
            line-height: 16px;
            letter-spacing: 1.25px;
            margin: 1.3vh 0;
            padding: 0;
            min-width: 10px;
          }

          .mat-tab-label.mat-tab-label-active {
            color: colors.$apap-down-medium-blue;
          }
        }
      }
    }

    .mat-tab-header-pagination {
      box-shadow: 0 0px 0px 0px #0003, 0 0px 0px #00000024, 0 0px 7px #0000001f;
    }
  }

  .mat-tab-header.mat-tab-header-pagination-controls-enabled
    > .mat-tab-label-container
    .mat-tab-list
    .mat-tab-labels {
    padding: 0 20px;
  }
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: colors.$apap-down-medium-blue;
}

.mat-tab-label,
.mat-tab-link {
  opacity: 1 !important;
  color: colors.$disabled-black;
}
