/* Typography */
h1,
.mat-h1 {
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.25px;
}

h2,
.mat-h2 {
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0px;
}

h3,
.mat-h3 {
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.15px;
}

h4,
.mat-h4,
.subtitle-1 {
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.15px;
}

h5,
.mat-h5,
.subtitle-2 {
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.mat-body-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.mat-body-2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.25px;
}

.mat-caption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.mat-overline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}
